body {
  font-family: Arial, sans-serif;
  background-color: rgb(27, 27, 27);
  overflow-x: hidden;
}
.homepage {
  position: relative;
  z-index: 1;
}



/* Navbar Styles */
.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(27, 27, 27);
  position: relative;
  z-index: 10;
}

.navbar .logo {
  flex: 1;
}

.navbar .logo img {
  height: 60px;
}

.navbar .otheroptions {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.navbar .otheroptions button 
{
  cursor: pointer;
  background-color:none;
  background: none;
}

.navbar li {
  padding: 14px 20px;
  color: white;
  cursor: pointer;
  list-style: none;
}

.navbar li img {
  height: 40px;
}

.kebab-menu-container {
  position: relative;
  margin-left: 20px;
}

.kebab-menu-icon {
  font-size: 30px;
  color: white;
  cursor: pointer;
  position: relative;
  z-index: 1001;
}

.kebab-menu {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  width: 200px;
  background-color: rgb(27, 27, 27);
  color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  list-style: none;
  border-radius: 8px;
}

.kebab-menu.show {
  display: block;
}

.kebab-menu li {
  padding: 14px 20px;
  cursor: pointer;
}

.menu-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.menu-overlay.show {
  display: block;
}
.slide1 {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
  max-width: 100%;
  height: 400px;
  margin-bottom: 100px;
  text-align: center;
  color: white;
  overflow: hidden;
  margin-top: -130px;
}

.slide1 span {
  font-size: 28px;
  font-weight: 600;
  color: #BABA0E;
}

.greeting {
  font-size: 3rem;
  margin-bottom: 10px;
  font-weight: 600;
  color: #BABA0E;
}

.staticc {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: 600;
}

.static {
  font-size: 1.5rem;
  font-weight: bold;
}

#element {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.slide2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px 20px;
  max-width: 100%;
  margin-bottom: 10px;
  margin-top: 200px;
}

.slide2 .headingg {
  font-size: 40px;
  font-weight: 600;
  margin-left: 20px;
  margin-bottom: 65px;
}

.slide2 .banner2 img {
  max-width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.carousel-slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 400px;
  width: 100%;
}

.carousel-content {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.movie-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.movie-details {
  width: 30%;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.movie-details button
{
  background-color:#0c456b ;
}
.movie-details button:hover
{
  background-color:#0B3860;
}



.movie-banner {
  width: 70%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.movie-banner img, 
.movie-banner video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-overlay-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.video-content {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mute-btn {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-color: transparent;
  background: none;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.mute-btn i {
  color: white;
  font-size: 16px;
}

.mute-btn:hover {
  background-color: transparent;
}

.fade-bottom,
.fade-left {
  position: absolute;
}

.fade-bottom {
  bottom: 0;
  width: 100%;
  height: 50px;
  background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.7));
}

.fade-left {
  left: 0;
  width: 50px;
  height: 100%;
  background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.7));
}

.slide3 {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px 20px;
  max-width: 100%;
  height: 500px;
  position: relative;
  z-index: 1;
}

.slide3 .headingg {
  font-size: 40px;
  font-weight: 600;
}

.slide4 {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px 20px;
  max-width: 100%;
  height: 500px;
  position: relative;
  z-index: 1;
}

.slide4 .headingg {
  font-size: 40px;
  font-weight: 600;
  margin-top: -33px;
  margin-bottom: 30px;
}

.slide5 {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px 20px;
  max-width: 100%;
  height: 200px;
  position: relative;
  z-index: 1;
}

.slide5 .headingg {
  font-size: 40px;
  font-weight: 600;
}

.slide6 {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px 20px;
  max-width: 100%;
  height: 300px;
  position: relative;
  z-index: 1;
}

.slide6 .headingg {
  font-size: 40px;
  font-weight: 600;
}

.faq {
  color: white;
  font-size: 28px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.ques {
  width: 90%;
  max-width: 750px;
  color: white;
}

.ques ul {
  display: flex;
  flex-direction: column;
}

.ques li {
  list-style: none;
  width: 100%;
  padding: 5px;
}

.ques li label {
  display: flex;
  align-items: center;
  padding: 15px;
  font-size: 16px;
  font-weight: 500;
  background: #303030;
  margin-bottom: 2px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.2s;
}

.ques li label:hover {
  background-color: #414141;
}

.ques li label::after {
  content: '+';
  font-size: 24px;
  position: absolute;
  right: 20px;
  transition: transform 0.1s;
}

.ques input[type="radio"] {
  display: none;
}

.ques .content {
  background: #303030;
  text-align: left;
  padding: 0 15px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
}

.ques input[type="radio"]:checked + label + .content {
  max-height: 600px;
  padding: 20px 15px;
}

.ques input[type="radio"]:checked + label::after {
  transform: rotate(135deg);
}

/* Media Queries for Phones and Tablets */
@media (max-width: 767px) {
  .navbar li {
    padding: 10px;
  }

  .navbar .logo img {
    height: 40px;
  }

  .navbar .otheroptions {
    margin-left: -7px;
  }

  .kebab-menu-container {
    margin-left: 0;
  }


  .greeting {
    font-size: 1.5rem;
  }

  .staticc {
    font-size: 1.2rem;
  }

  .static, #element {
    font-size: 1.2rem;
  }

  .carousel-slide {
    flex-direction: column;
    height: auto; /* Allow height to adjust based on content */
  }
.movie-container
{
  display: flex;
  flex-direction: column;
}
  .movie-details {
    width: 100%;
    padding: 10px;
    order: 1; /* Move details to the top */
  }

  .movie-banner {
    width: 100%;
    height: auto;
    order: 2; /* Move banner to the bottom */
  }

  

  
  .slide4
  {
    margin-top: -20px;
  }


  .slide5{
    height: auto; /* Allow height to adjust based on content */
    padding: 20px 10px;
  }
  .slide6{
    height: auto; /* Allow height to adjust based on content */
    padding: 20px 10px;
  }
  
  .slide5 .headingg
  {
    margin-top: 760px;
    font-size: 24px; /* Adjust font size for smaller screens */
  }
  
  .faq {
    font-size: 24px; /* Adjust font size for smaller screens */
    margin-top: 30px;
  }

  .ques {
    width: 100%;
  }

  .ques ul {
    flex-direction: column;
  }

  .ques li {
    padding: 10px;
  }

  .ques li label {
    font-size: 14px;
    padding: 10px;
  }

  .ques .content {
    padding: 10px;
  }
}

/* Media Queries for Laptops */
@media (min-width: 768px) and (max-width: 1024px) {
  .navbar li {
    padding: 12px;
  }

  .navbar .logo img {
    height: 50px;
  }



  

  .movie-details {
    width: 100%;
    padding: 15px;
  }

  .movie-banner {
    width: 100%;
    height: auto;
  }

  .carousel-slide {
    flex-direction: column;
    height: auto;
  }

  .movie-details {
    width: 100%;
    padding: 15px;
  }

  .movie-banner {
    width: 100%;
    height: auto;
  }


  .faq {
    font-size: 26px; /* Adjust font size for medium screens */
    margin-top: 40px;
  }
}









/* Light Mode */
body.light-mode {
  background-color: gainsboro;
  color: black;
}

body.light-mode .navbar {
  background-color: gainsboro;
}

body.light-mode .navbar li {
  color: black;
}

body.light-mode .kebab-menu {
  background-color:gainsboro; /* Light mode background color for kebab menu */
  color: black;
}

body.light-mode {
  background-color: gainsboro;
  color: black;
}

.kebab-menu {
  background-color: black; /* Light mode background color for kebab menu */
  color:white;
}

body.light-mode .kebab-menu li {
  color: black;
}

body.light-mode .ques li label {
  background: #f9f9f9;
}

body.light-mode .ques .content {
  background: #f9f9f9;
}



body.light-mode .faq, 
body.light-mode .slide1, 
body.light-mode .slide2, 
body.light-mode .slide3, 
body.light-mode .slide4, 
body.light-mode .slide5, 
body.light-mode .slide6, 
body.light-mode .movie-details {
  color: black;
}

/* Media Queries for Phones and Tablets (Light Mode) */
@media (max-width: 767px) {
  body.light-mode .navbar li {
    padding: 10px;
  }

  body.light-mode .navbar .logo img {
    height: 40px;
  }

  body.light-mode .navbar .otheroptions {
    margin-left: -7px;
  }

  body.light-mode .kebab-menu-container {
    margin-left: 0;
  }

  body.light-mode .greeting {
    font-size: 1.5rem;
  }

  body.light-mode .staticc {
    font-size: 1.2rem;
  }

  body.light-mode .static, 
  body.light-mode #element {
    font-size: 1.2rem;
  }

  body.light-mode .carousel-slide {
    flex-direction: column;
    height: auto; /* Allow height to adjust based on content */
  }

  body.light-mode .movie-container {
    flex-direction: column;
  }

  body.light-mode .movie-details {
    width: 100%;
    padding: 10px;
    order: 1; /* Move details to the top */
  }

  body.light-mode .movie-banner {
    width: 100%;
    height: auto;
    order: 2; /* Move banner to the bottom */
  }

  body.light-mode .slide4 {
    margin-top: -20px;
  }

  body.light-mode .slide5, 
  body.light-mode .slide6 {
    height: auto; /* Allow height to adjust based on content */
    padding: 20px 10px;
  }

  body.light-mode .slide5 .headingg {
    margin-top: 760px;
    font-size: 24px; /* Adjust font size for smaller screens */
  }

  body.light-mode .faq {
    font-size: 24px; /* Adjust font size for smaller screens */
    margin-top: 30px;
  }

  body.light-mode .ques {
    width: 100%;
  }

  body.light-mode .ques ul {
    flex-direction: column;
  }

  body.light-mode .ques li {
    padding: 10px;
  }

  body.light-mode .ques li label {
    font-size: 14px;
    padding: 10px;
  }

  body.light-mode .ques .content {
    padding: 10px;
  }
}

/* Media Queries for Laptops (Light Mode) */
@media (min-width: 768px) and (max-width: 1024px) {
  body.light-mode .navbar li {
    padding: 12px;
  }

  body.light-mode .navbar .logo img {
    height: 50px;
  }

  body.light-mode .movie-details {
    width: 100%;
    padding: 15px;
  }

  body.light-mode .movie-banner {
    width: 100%;
    height: auto;
  }

  body.light-mode .carousel-slide {
    flex-direction: column;
    height: auto;
  }

  body.light-mode .faq {
    font-size: 26px; /* Adjust font size for medium screens */
    margin-top: 40px;
  }
}

