/* Default Dark Theme */
.carousel-container {
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    overflow: hidden;
    position: relative;
    padding: 20px; /* Adjusted padding for better spacing */
    background-color: #1B1B1B; /* Dark background color */
    margin-top: 17px;
}

.carousel-track {
    display: flex;
    white-space: nowrap;
    margin-bottom: 10px;
    max-width: 100%;
}

.carousel-item {
    min-width: 150px; /* Adjusted for better visibility on larger screens */
    height: 30px; /* Adjusted for better visibility on larger screens */
    margin: 5px 10px; /* Increased margin for better spacing */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#2A323C; /* Dark theme background color */
    color: #fff; /* Dark theme text color */
    border-radius: 5px;
    padding:4px; /* Increased padding for better spacing */
    font-size: 0.8rem; /* Responsive font size */
}

/* Light Theme */
body.light-mode .carousel-container {
    background-color:gainsboro;
    color: black;
  }

.carousel-container.light-mode .carousel-item {
    background-color:#2A323C; /* Background color remains the same for visibility */
    color: black; /* Light theme text color */
}

.light-mode .carousel-wrapper::before,
.light-mode .carousel-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10%;
    background:none;
    z-index: 1;
}

/* Adjust animation duration based on screen size */
@media (max-width: 600px) { /* Mobile devices */
    .carousel-item {
        min-width: 120px;
        height: 35px;
        font-size: 0.9em;
        margin: 0 8px;
        padding: 8px;
    }
}

@media (min-width: 601px) and (max-width: 1024px) { /* Tablets and small laptops */
    .carousel-item {
        min-width: 130px;
        height: 35px;
        font-size: 0.95em;
        margin: 0 10px;
        padding: 8px;
    }
}
.left-to-right {
    animation: scrollLeftToRight 30s linear infinite;
}

.right-to-left {
    animation: scrollRightToLeft 30s linear infinite;
}

@keyframes scrollLeftToRight {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes scrollRightToLeft {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.carousel-wrapper {
    margin: 0px 100px; /* 90% max width as requested */
    overflow: hidden; /* Hide overflow to create blurred borders effect */
    position: relative;
}


/* Blurred Edges */
.carousel-wrapper::before,
.carousel-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10%;
    background: linear-gradient(to right,#1B1B1B, transparent);
    z-index: 1;
}

.carousel-wrapper::after {
    right: 0;
    background: linear-gradient(to left, #1B1B1B, transparent);
    z-index: 1;
}

