
.navbar {
    margin-left: 130px;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 10px 20px;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .navbar li {
    float: left;
    display: inline;
    padding: 14px 20px;
    color: white;
    cursor: pointer;
  }
  
  .navbar li img {
    height: 40px;
  }
  
 .navbar .search-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    color: white;
  }
  
  .navbar input[type="text"] {
    padding: 6px;
    margin-right: 10px;
    font-size: 17px;
    border: none;
    border-radius: 4px;
    background: none;
    color: white;
  }
  
  .navbar select {
    padding: 6px;
    font-size: 17px;
    border: none;
    border-radius: 4px;
    background: none;
    color: white;
  }
 .searchbutton button
  {
    background: none;
    border: none;
    margin-left: -55px;
    margin-top: 1px;
  }